.input-field-wrapper {
    display: flex;
    justify-content: space-between;
}

.position-list-item-content .col-6 p {
    line-height: 2.2;
}

.position-list-item-content {
    border-top: solid 1px lightgray;
}
