<mat-selection-list *ngIf="bulkActions === true">
    <mat-list-option *ngFor="let schedule of scheduleList">{{schedule.doc.schedule_name}}</mat-list-option>
</mat-selection-list>
<div *ngIf="!bulkActions">
    <mat-accordion [multi]="false">
        <mat-expansion-panel *ngFor="let schedule of scheduleList">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>{{schedule.doc.schedule_name}}</strong>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-schedule-editor (onScheduleDelete)="refreshList($event)" [schedule]="schedule"></app-schedule-editor>
        </mat-expansion-panel>
    </mat-accordion>
</div>

