<div>
    <mat-card class="gray-card-body">
        <mat-card-content>
            <h4>Eksportavimas</h4>
            <div class="row">
                <div class="col-12 employee-selection-list" *ngIf="employeeList">
                    <mat-form-field>
                        <mat-select (valueChange)="employeeSelectionChange()" placeholder="Pasirinkite darbuotojus"
                                    [formControl]="employeeSelectorControl" multiple>
                            <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
                                {{employee.doc.firstname}} {{employee.doc.lastname}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row" *ngIf="calendarData">
                <div class="col-12">
                    <button mat-raised-button (click)="closeAndExportPDF()">Eksportuoti PDF</button>
                    <button mat-raised-button (click)="closeAndExportXLS()">Eksportuoti XLS</button>
                </div>
                <div class="col-12 doc-body" #docBody id="doc-body">
                    <div *ngFor="let year of calendarData.years">
                        <div *ngIf="year && year.months">
                            <div *ngFor="let month of year.months">
                                <div *ngIf="month && month.employees">
                                    <h5 class="text-center">{{getMonth(month.number)}}/{{year.year}}</h5>
                                    <table>
                                        <thead>
                                        <tr>
                                            <td><strong>Darbuotojas(a)</strong></td>
                                            <td><strong>Pareigos</strong></td>
                                            <td *ngFor="let dayNumber of calendarDayNumbers" class="day-cell-header">
                                                <strong>{{dayNumber}}</strong></td>
                                            <td>Paprastų</td>
                                            <td>Naktinių</td>
                                            <td>Šventinių</td>
                                            <td>Iš viso valandų</td>
                                            <td>Uždarbis</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let employee of month['employees']" class="employee-row ">
                                            <td *ngIf="employee">{{employee.firstname}} {{employee.lastname}}</td>
                                            <td *ngIf="employee">{{employee.position.job_title}}</td>
                                            <td *ngFor="let dayNumber of calendarDayNumbers">
                                                <div *ngFor="let workDay of employee.work_days">
                                                    <div class="common-schedule-work-day-cell"
                                                         *ngIf="getDay(workDay.date) === dayNumber">
                                                        <div class="work-hours-container">
                                                            <strong>
                                                                {{workDay.start_time}}
                                                            </strong><br>
                                                            <strong>
                                                                {{workDay.end_time}}
                                                            </strong>
                                                        </div>
                                                        <div *ngIf="workDay.breaks">
                                                            <div *ngFor="let break of workDay.breaks"
                                                                 class="break-label">
                                                                <i>
                                                                        {{break.start}}
                                                                </i><br>
                                                                <i>
                                                                        {{break.end}}
                                                                </i>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td *ngIf="employee && employee.month_salary.work_hours">
                                                {{employee.month_salary.work_hours.ordinary_hours | number:"1.2-2"}}
                                            </td>
                                            <td *ngIf="employee && employee.month_salary.work_hours">
                                                {{employee.month_salary.work_hours.night_hours | number:"1.2-2"}}
                                            </td>
                                            <td *ngIf="employee && employee.month_salary.work_hours">
                                                {{employee.month_salary.work_hours.holiday_hours | number:"1.2-2"}}
                                            </td>
                                            <td *ngIf="employee && employee.month_salary.work_hours">
                                                {{employee.month_salary.work_hours.ordinary_hours +
                                                employee.month_salary.work_hours.night_hours +
                                                employee.month_salary.work_hours.holiday_hours | number:"1.2-2"}}
                                            </td>
                                            <td *ngIf="employee && employee.month_salary.work_hours">
                                                {{employee.month_salary.work_hours.ordinary_hours *
                                                employee.position.pay + employee.month_salary.work_hours.night_hours *
                                                configRef.data.night_time_rate +
                                                employee.month_salary.work_hours.night_hours * employee.position.pay +
                                                employee.month_salary.work_hours.holiday_hours *
                                                configRef.data.holiday_rate | number:"1.2-2"}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <strong class="red-square">Darbo valandos</strong>
                                        <i class="green-square">Pertraukos</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>