<div>
    <mat-card class="gray-card-body">
        <mat-card-content>
            <h4>Eksportavimas</h4>
            <div class="row">
                <div class="col-8 employee-selection-list" *ngIf="employeeList">
                    <mat-form-field class="fullwidth">
                        <mat-select (valueChange)="employeeSelectionChange()" placeholder="Pasirinkite darbuotojus"
                                    [formControl]="employeeSelectorControl" multiple>
                            <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
                                {{employee.doc.firstname}} {{employee.doc.lastname}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="fullwidth" *ngIf="monthNumbers.length > 0">
                        <mat-select placeholder="Atvaizduoti mėnesius" multiple
                                    [formControl]="monthSelectorControl" (valueChange)="changeSelectedMonth()">
                            <mat-option *ngFor="let monthNumber of monthNumbers" [value]="monthNumber.number">
                                {{monthNumber.number | lithuanizeMonth:"number-to-lt-month"}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row" *ngIf="calendarData">
                <div class="col-12">
                    <button mat-raised-button
                            (click)="documentName ? pdfBody.saveAs(today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + '_' + documentName + '.pdf') : pdfBody.saveAs(today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + '.pdf')">
                        Eksportuoti PDF
                    </button>
                    <button mat-raised-button (click)="closeAndExportXLS()">Eksportuoti XLS</button>
                    <mat-checkbox class="medium-margin-horizontal" [(ngModel)]="displaySalary">Rodyti uždarbį
                    </mat-checkbox>
                </div>
                <kendo-pdf-export class="col-12" #pdfBody *ngIf="selectedEmployees.length > 0">
                    <div class="col-12">
                        <h3 class="text-right no-margin">Patvirtinta</h3>
                        <div class="flex-center">
                            <mat-form-field>
                                <input matInput type="text"
                                       [(ngModel)]="documentName"
                                       class="text-center schedule-group-name-input">
                            </mat-form-field>
                        </div>
                        <h5 class="text-center">Darbo laiko grafikas</h5>
                    </div>
                    <div class="col-12 doc-body" #docBody id="doc-body">
                        <div *ngFor="let year of calendarData.years">
                            <div *ngIf="year && year.months">
                                <div *ngFor="let month of year.months">
                                    <div *ngIf="month &&
                                    month.employees &&
                                    month.employees[0] &&
                                    month.employees[0].work_days &&
                                    month.employees[0].work_days[0] &&
                                    monthNumbers[month.employees[0].work_days[0].date | lithuanizeMonth:'month-from-string' ].selected">
                                        <h5 class="text-center">
                                            {{month['employees'][0].work_days[0].date |
                                            lithuanizeMonth:"month-year"}}</h5>
                                        <table>
                                            <thead>
                                            <tr class="schedule-tab-header">
                                                <td><strong>Darbuotojas(a)</strong></td>
                                                <td><strong>Pareigos</strong></td>
                                                <td *ngFor="let dayNumber of calendarDayNumbers"
                                                    class="day-cell-header">
                                                    <strong>{{dayNumber}}</strong></td>
                                                <td><strong>Paprastos</strong></td>
                                                <td><strong>Naktinės</strong></td>
                                                <td><strong>Šventinės</strong></td>
                                                <td><strong>Suma</strong></td>
                                                <td *ngIf="displaySalary"><strong>Uždarbis</strong></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let employee of month['employees']" class="employee-row ">
                                                <td class="employee-name-label" *ngIf="employee">
                                                    <strong>{{employee.firstname }} {{employee.lastname}}</strong>
                                                </td>
                                                <td class="employee-position-label" *ngIf="employee">
                                                    <strong>{{employee.position.job_title}}</strong>
                                                </td>
                                                <td *ngFor="let dayNumber of calendarDayNumbers">
                                                    <div *ngFor="let workDay of employee.work_days">
                                                        <div class="common-schedule-work-day-cell"
                                                             *ngIf="getDay(workDay.date) === dayNumber">
                                                            <div class="work-hours-container">
                                                                <strong>
                                                                    {{workDay.start_time}}
                                                                </strong><br>
                                                                <strong>
                                                                    {{workDay.end_time}}
                                                                </strong>
                                                            </div>
                                                            <div *ngIf="workDay.breaks">
                                                                <div *ngFor="let break of workDay.breaks"
                                                                     class="break-label">
                                                                    <i>
                                                                        {{break.start}}
                                                                    </i><br>
                                                                    <i>
                                                                        {{break.end}}
                                                                    </i>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td *ngIf="employee && employee.month_salary.work_hours">
                                                    {{employee.month_salary.work_hours.ordinary_hours |
                                                    timeConversion:'toTime'}}
                                                </td>
                                                <td *ngIf="employee && employee.month_salary.work_hours">
                                                    {{employee.month_salary.work_hours.night_hours |
                                                    timeConversion:'toTime'}}
                                                </td>
                                                <td *ngIf="employee && employee.month_salary.work_hours">
                                                    {{employee.month_salary.work_hours.holiday_hours |
                                                    timeConversion:'toTime'}}
                                                </td>
                                                <td *ngIf="employee && employee.month_salary.work_hours">
                                                    {{employee.month_salary.work_hours.ordinary_hours +
                                                    employee.month_salary.work_hours.night_hours +
                                                    employee.month_salary.work_hours.holiday_hours |
                                                    timeConversion:'toTime'}}
                                                </td>
                                                <td *ngIf="employee && employee.month_salary.work_hours && displaySalary">
                                                    {{employee.month_salary.work_hours.ordinary_hours *
                                                    employee.position.pay + employee.month_salary.work_hours.night_hours
                                                    *
                                                    configRef.data.night_time_rate +
                                                    employee.month_salary.work_hours.night_hours * employee.position.pay
                                                    +
                                                    employee.month_salary.work_hours.holiday_hours *
                                                    configRef.data.holiday_rate | number:"1.2-2"}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <strong class="red-square medium-padding-horizontal"> Darbo
                                                valandos </strong>
                                            <strong class="green-square medium-padding-horizontal"> Pertraukos </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </kendo-pdf-export>
            </div>
        </mat-card-content>
    </mat-card>
</div>