<div class="model-list-top-bar flex-space-between">
    <button mat-raised-button (click)="showAddObjectModal()">
        <i *ngIf="modelName === 'employee'" class="material-icons">&#xE853;</i>
        <i *ngIf="modelName === 'position'" class="material-icons">&#xE8F9;</i>
        <i *ngIf="modelName === 'schedule'" class="material-icons">&#xE8B5;</i>
        Pridėti naują
    </button>
    <div *ngIf="modelName === 'schedule'">
        <button mat-raised-button (click)="openUploadWindow()">
            Importuoti
        </button>
        <button mat-raised-button (click)="openExportWindow()">
            Eksportuoti
        </button>
        <button mat-raised-button (click)="purgeSchedules()">
            Naujas ketvirtis
        </button>
    </div>
</div>
<mat-card class="model-list-body-wrapper">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-12" *ngIf="objectList !== []">
                <div *ngIf="modelName === 'employee'">
                    <app-employees-main [employeeList]="objectList"></app-employees-main>
                </div>
                <div *ngIf="modelName === 'position'">
                    <app-positions-main [positionList]="objectList"></app-positions-main>
                </div>
                <div *ngIf="modelName === 'schedule'">
                    <app-schedules-main [scheduleList]="objectList"></app-schedules-main>
                </div>
            </div>
            <div class="col-12" *ngIf="objectList.length < 1 ">
                <h3>Sąrašas tuščias</h3>
            </div>
        </div>
    </mat-card-content>
</mat-card>
