.app-body {
    position: relative;
}

.mat-card {
    padding: 20px;
}

.mat-sidenav-container {
    height: 100vh;
}

mat-sidenav button {
    width: 100%;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.menu-button-wrapper {
    position: absolute;
    bottom: 25px;
    right: 30px;
    z-index: 999;;
}

.menu-button-wrapper button i {
    color: white;
}

.current-date-label {
    margin: 10px;
}
