<div class="panel-grid">
    <div class="sidebar-navigation-wrapper">
        <div>
            <button mat-button name="workers" class="sidebar-navigation-button" (click)="selectedModelName = 'employee'">
                <i class="material-icons">&#xE853;</i>
                <span>Darbuotojai</span>
            </button>
        </div>
        <div>
            <button mat-button name="positions" class="sidebar-navigation-button" (click)="selectedModelName = 'position'">
                <i class="material-icons">&#xE8F9;</i>
                <span>Pareigos</span>
            </button>
        </div>
        <div class="horizontal-divider">
            <button mat-button name="schedules" class="sidebar-navigation-button" (click)="selectedModelName = 'schedule'">
                <i class="material-icons">&#xE8B5;</i>
                <span>Tvarkaraščiai</span>
            </button>
        </div>
        <div>
            <button mat-button name="calendar" class="sidebar-navigation-button" (click)="selectedModelName = 'free_days'">
                <i class="material-icons">&#xE916;</i>
                <span>Nustatymai</span>
            </button>
        </div>
        <div>
            <button mat-button name="calendar" class="sidebar-navigation-button" (click)="selectedModelName = 'export_import'">
                <i class="material-icons">&#xE8EF;</i>
                <span>Eksportas</span>
            </button>
        </div>
    </div>
    <div>
        <div class="content-wrapper-container">
            <app-page-content-wrapper *ngIf="selectedModelName === 'employee'"
                                      [modelName]="selectedModelName"></app-page-content-wrapper>
            <app-page-content-wrapper *ngIf="selectedModelName === 'position'"
                                      [modelName]="selectedModelName"></app-page-content-wrapper>
            <app-page-content-wrapper *ngIf="selectedModelName === 'schedule'"
                                      [modelName]="selectedModelName"></app-page-content-wrapper>
            <app-export-import-window *ngIf="selectedModelName === 'export_import'"></app-export-import-window>
            <app-calendar-free-day-settings *ngIf="selectedModelName === 'free_days'"></app-calendar-free-day-settings>
        </div>
    </div>
</div>
<script>
    System.set('electron', System.newModule(require('electron')));
</script>
