.sidebar-navigation-button{
    width: 100%;
    text-align: left;
    padding: 10px 0px 10px 25px;
}

.app-body {
    position: relative;
}

.panel-grid {
    display: grid;
    column-count: 2;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
}

.sidebar-navigation-wrapper button i{
    color: #F2F2F2;
}

.horizontal-divider {
    border-bottom: 2px solid #17596f;
}

.sidebar-navigation-wrapper button span {
    color: #F2F2F2;
    font-size: medium;
    font-family: 'Ubuntu', sans-serif;
}

.sidebar-navigation-wrapper{
    background: #327389;
    padding: 20px 10px;
}

.mat-card {
    padding: 20px;
}

.mat-sidenav-container {
    height: 100vh;
}

mat-sidenav button {
    width: 100%;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.menu-button-wrapper {
    position: absolute;
    bottom: 25px;
    right: 30px;
    z-index: 999;;
}

.menu-button-wrapper button i {
    color: white;
}

.current-date-label {
    margin: 10px;
}

