<mat-card class="gray-card-body">
    <mat-card-content>
        <h4>Nustatymai</h4>
        <mat-tab-group>
            <mat-tab label="Šventės">
                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput placeholder="Šventės pavadinimas" [formControl]="holidayNameControl">
                        </mat-form-field>
                        <div [formGroup]="freeDayDateControl">
                            <mat-form-field>
                                <input matInput formControlName="holiday_month" type="number"
                                       placeholder="Mėnuo">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="holiday_day" type="number"
                                       placeholder="Diena">
                            </mat-form-field>
                        </div>
                        <button mat-raised-button
                                [disabled]="!holidayNameControl.value && !freeDayDateControl.get('holiday_month').value && !freeDayDateControl.get('holiday_day').value"
                                (click)="addHoliday()">Pridėti
                        </button>
                    </div>
                    <div class="col-12">
                        <table *ngIf="holidayList">
                            <tr class="table-header">
                                <th class="text-left"><strong>Šventės pavadinimas</strong></th>
                                <th class="text-left"><strong>Data (MM/dd)</strong></th>
                                <th class="text-center"><strong>Veiksmas</strong></th>
                            </tr>
                            <tr *ngFor="let holiday of holidayList" class="table-row">
                                <td>{{holiday.id}}</td>
                                <td>{{holiday.doc.holiday_month}}/{{holiday.doc.holiday_day}}</td>
                                <td class="flex-center"><i class="material-icons"
                                                           (click)="deleteHoliday(holiday.id)">&#xE92B;</i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Tarifų nustatymai">
                <div class="row" [formGroup]="configControl">
                    <!--<h5>Tarifų nustatymai</h5>-->
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput type="number" formControlName="holiday_rate"
                                   placeholder="Šventinės dienos tarifas">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput type="time" formControlName="night_time_start"
                                   placeholder="Nakties pradžia">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="time" formControlName="night_time_end" placeholder="Nakties pabaiga">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" formControlName="night_time_rate"
                                   placeholder="Naktinis tarifas">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <button mat-raised-button (click)="saveConfig()">
                            Išsaugoti pakeitimus
                        </button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>