<div class="row">
    <div class="col-12">
        <mat-card class="schedule-settings-card">
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Darbo dienos nustatymai" class="settings-tab">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field>
                                            <input matInput (change)="weekDayTimeChange()"
                                                   [formControl]="startTimeInputControl"
                                                   type="time"
                                                   #startTime
                                                   placeholder="Darbo dienos pradžia">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field>
                                            <input matInput (change)="weekDayTimeChange()"
                                                   [formControl]="endTimeInputControl"
                                                   type="time" #endTime
                                                   placeholder="Darbo dienos pabaiga">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 small-margin-vertical">
                                <mat-chip-list #breakChips>
                                    <mat-chip matTooltip="Panaikinti pertrauką"
                                              (click)="deleteBreak(break.start, break.end)"
                                              *ngFor="let break of breakList">
                                        <i class="material-icons">alarm</i> {{break.start}} - {{break.end}}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                            <div class="col-12 flex-center-vertical">
                                <button mat-raised-button
                                        (click)="selectMultipleDays ? saveScheduleChanges() : saveWorkDayChanges()">
                                    Išsaugoti
                                </button>
                                <button mat-raised-button (click)="deleteSelectedSchedule()">Šalinti</button>
                                <button mat-raised-button (click)="openAddBreakWindow()" matTooltip="Pertraukos">
                                    <i class="material-icons">alarm_add</i>
                                </button>
                                <button mat-raised-button matTooltip="Išvalyti pažymėtas dienas" (click)="clearCells()"
                                        *ngIf="(selectedWorkDayList.length > 0 && selectMultipleDays) || (selectedCalendarDay && !selectMultipleDays)">
                                    <i class="material-icons cursor-pointer">&#xE14C;</i>
                                </button>
                                <div class="medium-padding-horizontal">
                                    <mat-checkbox [(ngModel)]="isFullDay" class="small-font">
                                        Prailginta
                                    </mat-checkbox>
                                </div>
                                <div class="medium-padding-horizontal">
                                    <mat-checkbox [(ngModel)]="isHoliday" class="small-font">Išeiginė</mat-checkbox>
                                </div>
                                <mat-slide-toggle [(ngModel)]="weekDaySelectionMode" class="small-font">
                                    Terminas
                                </mat-slide-toggle>
                                <mat-slide-toggle class="medium-margin-horizontal small-font"
                                                  [disabled]="weekDaySelectionMode"
                                                  (change)="resetSelection()"
                                                  [(ngModel)]="selectMultipleDays">Pasirinkti keletą dienų
                                </mat-slide-toggle>
                                <button mat-button matTooltip="Atžymėti viską" (click)="unmarkDays()"
                                        *ngIf="selectMultipleDays && selectedWorkDayList">
                                    <i class="material-icons">&#xE86A;</i>
                                </button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Tvarkaraščio nustatymai">
                        <div class="row">
                            <div class="col-6">
                                <div class="col-6">
                                    <mat-form-field>
                                        <input placeholder="Tvarkaraščio pavadinimas" matInput id="schedule_name"
                                               [(ngModel)]="schedule.doc.schedule_name">
                                    </mat-form-field>
                                    <h5>Maks. darbo laikas</h5>
                                    <div class="flex-space-between">
                                        <mat-form-field>
                                            <input matInput [formControl]="workHoursCapHours" type="number" required
                                                   placeholder="Val">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput [formControl]="workHoursCapMinutes" type="number" required
                                                   placeholder="Min">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button mat-raised-button
                                        (click)="selectMultipleDays ? saveScheduleChanges() : saveWorkDayChanges()">
                                    Išsaugoti
                                </button>
                                <button mat-raised-button (click)="deleteSelectedSchedule()">Šalinti</button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12">
        <mat-card *ngIf="weekDaySelectionMode" class="schedule-period-card">
            <mat-card-content>
                <div class="row">
                    <h5>Termino konfigūravimas</h5>
                    <div class="col-12">
                        <mat-form-field>
                            <mat-select placeholder="Terminų šablonai" (valueChange)="applyPeriodTemplate($event)">
                                <mat-option [value]="''"></mat-option>
                                <mat-option *ngFor="let periodTemplate of periodTemplateList"
                                            [value]="periodTemplate.id">
                                    <div class="row">
                                        <div class="col-11">
                                            <strong>{{periodTemplate.id}}</strong>
                                        </div>
                                        <div>
                                            <button mat-icon-button (click)="removePeriodTemplate(periodTemplate)"><i
                                                    class="material-icons">&#xE872;</i></button>
                                        </div>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput [matDatepicker]="periodStartPicker" [formControl]="periodStartDateControl"
                                   type="text"
                                   #periodStartDate
                                   placeholder="Termino pradžia">
                            <mat-datepicker-toggle matSuffix [for]="periodStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #periodStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput [matDatepicker]="periodEndPicker" [formControl]="periodEndDateControl"
                                   type="text"
                                   #periodEndDate
                                   placeholder="Termino pabaiga">
                            <mat-datepicker-toggle matSuffix [for]="periodEndPicker"></mat-datepicker-toggle>
                            <mat-datepicker #periodEndPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="work-day-cell" *ngFor="let weekDay of weekDayList"
                         [class.selected-weekday]="weekDay.selected"
                         (click)="weekDayClicked(weekDay)">
                        <div>
                            <strong>{{weekDay.weekDayName}}</strong>
                            <div class="flex-space-around" *ngIf="weekDay.start_time && weekDay.end_time">
                                <small>{{weekDay.start_time}}</small>
                                <small>- {{weekDay.end_time}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex">
                        <div>
                            <button class="apply-schedule-period-button"
                                    [disabled]="!periodEndDate.value && !periodStartDate.value && !startTimeInputControl.value && !endTimeInputControl.value"
                                    (click)="setPeriod()" mat-raised-button>
                                Pritaikyti terminą
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-6" *ngIf="displayPeriodTemplateNameField">
                                <mat-form-field>
                                    <input placeholder="Termino šablono pavadinimas" matInput
                                           [(ngModel)]="newPeriodTemplateName">
                                </mat-form-field>
                            </div>
                            <div class="col-6 period-template-button-group">
                                <button mat-icon-button matTooltip="Išsaugoti kaip šabloną"
                                        *ngIf="!displayPeriodTemplateNameField"
                                        (click)="displayPeriodTemplateNameField = !displayPeriodTemplateNameField"><i
                                        class="material-icons">&#xE161;</i></button>
                                <button mat-icon-button matTooltip="Išsaugoti" *ngIf="displayPeriodTemplateNameField"
                                        (click)="createPeriodTemplate(newPeriodTemplateName)"><i
                                        class="material-icons">&#xE5CA;</i></button>
                                <button *ngIf="displayPeriodTemplateNameField"
                                        (click)="displayPeriodTemplateNameField = false" mat-icon-button
                                        matTooltip="Atšaukti"><i class="material-icons">&#xE5C9;</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="col-6">
            <div class="flex-space-between">
                <span>Maksimalus darbo laikas: </span>
                <strong>
                    {{workHoursCapHours.value}} h
                    <span *ngIf="60 - (schedule.doc.work_hours_cap * 60) % 60 > 0 && 60 - (schedule.doc.work_hours_cap * 60) % 60 < 60">
                        {{workHoursCapMinutes.value}} min
                    </span>
                </strong>
            </div>
            <div class="flex-space-between">
                <span>Liko: </span>
                <strong *ngIf="schedule.doc.work_hours_cap - (totalWorkingHours.ordinary_hours +
                    totalWorkingHours.night_hours) > 0 || schedule.doc.work_hours_cap - (totalWorkingHours.ordinary_hours +
                    totalWorkingHours.night_hours ) < 0" [class.success-text]="schedule.doc.work_hours_cap * 60  >= (totalWorkingHours.ordinary_hours * 60 +
                totalWorkingHours.night_hours * 60)"
                        [class.warning-text]="schedule.doc.work_hours_cap * 60 < (totalWorkingHours.ordinary_hours * 60 +
                totalWorkingHours.night_hours * 60)">
                    <!-- > 0 -->
                    <span class="success-text" *ngIf="schedule.doc.work_hours_cap - (totalWorkingHours.ordinary_hours +
                    totalWorkingHours.night_hours) > 0">{{schedule.doc.work_hours_cap - (totalWorkingHours.ordinary_hours +
                    totalWorkingHours.night_hours ) | floor}}</span>
                    <!-- < 0 -->
                    <span class="warning-text" *ngIf="schedule.doc.work_hours_cap - (totalWorkingHours.ordinary_hours +
                    totalWorkingHours.night_hours ) < 0">{{schedule.doc.work_hours_cap - (totalWorkingHours.ordinary_hours +
                    totalWorkingHours.night_hours ) | ceil}}</span> h
                    <span *ngIf="60 - ((schedule.doc.work_hours_cap * 60 - (totalWorkingHours.ordinary_hours * 60 +
                        totalWorkingHours.night_hours * 60)) % 60) != 0"
                          [class.success-text]="schedule.doc.work_hours_cap * 60  >= (totalWorkingHours.ordinary_hours * 60 +
                            totalWorkingHours.night_hours * 60)"
                          [class.warning-text]="schedule.doc.work_hours_cap * 60 < (totalWorkingHours.ordinary_hours * 60 +
                            totalWorkingHours.night_hours * 60)">
                        {{((schedule.doc.work_hours_cap * 60 - (totalWorkingHours.ordinary_hours * 60 +
                        totalWorkingHours.night_hours * 60)) % 60 ) | round}} min
                    </span>
                </strong>
                <strong *ngIf="schedule.doc.work_hours_cap - (totalWorkingHours.ordinary_hours +
                    totalWorkingHours.night_hours ) == 0" [class.success-text]="schedule.doc.work_hours_cap * 60  >= (totalWorkingHours.ordinary_hours * 60 +
                            totalWorkingHours.night_hours * 60)">
                    Užpildyta
                </strong>
            </div>
            <div class="flex-space-between">

            </div>
        </div>
        <div class="col-6 flex-space-around">
            <button mat-button class="previous-month" (click)="previousMonth()"><i
                    class="material-icons">&#xE314;</i>
                Praėjęs mėnuo
            </button>
            <div class="current-date-label flex-center">
                <strong *ngIf="viewDate">{{viewDate | lithuanizeMonth:"month-year"}}</strong>
            </div>
            <button mat-button class="next-month" (click)="nextMonth()">Sekantis mėnuo <i
                    class="material-icons">&#xE315;</i></button>
        </div>
    </div>
    <div class="col-12">
        <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div *ngIf="selectMultipleDays" #local="appLocalVariables" [appLocalVariables]="{clicked: false}"
                 (click)="local.clicked = !local.clicked" (mouseup)="dayClicked(day)" class="cal-cell-top row"
                 [class.selected-cell]="local.clicked">
                <div class="col-12">
                    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                </div>
                <div class="col-12">
                    <div *ngIf="day.events && selectMultipleDays" class="calendar-day-cell-container">
                        <div *ngFor="let event of day.events" [class.holiday]="event.color === 'holiday'"
                             class="work-day-calendar-cell-time"
                             [class.work-day-break]="event.color === 'work-day-break'">
                            <small>{{ event.title }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!selectMultipleDays" (click)="dayClicked(day)" class="cal-cell-top row"
                 [class.selected-cell]="day.date === selectedCalendarDay.date">
                <div class="col-12">
                    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                </div>
                <div class="col-12">
                    <div *ngIf="day.events && !selectMultipleDays" (click)="dayClicked(day)"
                         class="calendar-day-cell-container">
                        <div *ngFor="let event of day.events" [class.holiday]="event.color === 'holiday'"
                             class="work-day-calendar-cell-time"
                             [class.work-day-break]="event.color === 'work-day-break'">
                            <small>{{ event.title }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #customCalendarHeaderTemplate>
            <div class="flex-space-around">
                <div *ngFor="let weekDay of weekDayList">
                    {{weekDay.weekDayName}}
                </div>
            </div>
        </ng-template>
        <div class="row">
            <mwl-calendar-month-view
                    [viewDate]="viewDate"
                    [events]="calendarWorkDays"
                    [cellTemplate]="customCellTemplate"
                    [headerTemplate]="customCalendarHeaderTemplate"
                    [weekStartsOn]="1"
                    [refresh]="refresh">
            </mwl-calendar-month-view>
            <div [class.cal-overlay]="weekDaySelectionMode"></div>
        </div>
    </div>
    <div class="col-12">
        <button mat-raised-button (click)="clearDays()">Išvalyti dienas</button>
    </div>
</div>
