.day-cell-header {
  width: 35px;
  text-align: center;
}

.employee-row {
  background: #d3d3d347;
}

.common-schedule-work-day-cell, table, table strong, .day-cell-header {
  font-size: 11px;
}

.common-schedule-work-day-cell {

}

td {
  width: 35px;
  padding: 3px;
}

.doc-body {
  background: white;
  padding: 5px;

}

.break-label {
  background: #49bb00;
  color: white;
  padding: 2px;
  border-top: solid 2px;
  text-align: center;
}

.break-label span {
  color: white;
}

.work-hours-container {
  background: #e91405;
  color: white;
  padding: 2px;
  text-align: center;
}

.work-hours-container span {
  color: white;
}

.red-square {
  background: #e91405;
  padding: 3px;
  color: white;
}

.green-square {
  background: #49bb00;
  padding: 3px;
  color: white;
}