<div class="row">
    <div class="col-12">
        <button mat-raised-button (click)="closeAndExport()">Eksportuoti</button>
    </div>
    <div class="col-12 doc-body" #docBody>
        <div *ngFor="let year of calendarData.years">
            <div *ngIf="year && year.months">
                <div *ngFor="let month of year.months">
                    <div *ngIf="month && month.employees">
                        <h5 class="text-center">{{getMonth(month.month)}}/{{year.year}}</h5>
                        <table>
                            <tr>
                                <td><strong>Darbuotojas(a)</strong></td>
                                <td><strong>Pareigos</strong></td>
                                <td *ngFor="let dayNumber of calendarDayNumbers" class="day-cell-header">
                                    <strong>{{dayNumber}}</strong></td>
                                <td>Darbo valandų</td>
                                <td>Uždarbis</td>
                            </tr>
                            <tr *ngFor="let employee of month['employees']" class="employee-row ">
                                <td *ngIf="employee">{{employee.firstname}} {{employee.lastname}}</td>
                                <td *ngIf="employee">{{employee.position.job_title}}</td>
                                <td *ngFor="let dayNumber of calendarDayNumbers">
                                    <div *ngFor="let workDay of employee.work_days">
                                        <div class="common-schedule-work-day-cell"
                                             *ngIf="getDay(workDay.date) === dayNumber">
                                            <div class="work-hours-container">
                                                <span>
                                                    {{workDay.start_time}}
                                                </span><br>
                                                <span>
                                                    {{workDay.end_time}}
                                                </span>
                                            </div>
                                            <div *ngIf="workDay.breaks">
                                                <div *ngFor="let break of workDay.breaks"
                                                     class="break-label">
                                                                    <span>
                                                                        {{break.start}}
                                                                    </span><br>
                                                    <span>
                                                                        {{break.end}}
                                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="employee && employee.month_salary.work_hours">
                                    {{employee.month_salary.work_hours.ordinary_hours +
                                    employee.month_salary.work_hours.night_hours +
                                    employee.month_salary.work_hours.holiday_hours | number:"1.2-2"}}
                                </td>
                                <td *ngIf="employee && employee.month_salary.work_hours">
                                    {{employee.month_salary.work_hours.ordinary_hours *
                                    employee.position.pay + employee.month_salary.work_hours.night_hours *
                                    config.night_time_rate +
                                    employee.month_salary.work_hours.night_hours * employee.position.pay +
                                    employee.month_salary.work_hours.holiday_hours *
                                    config.holiday_rate | number:"1.2-2"}}
                                </td>
                            </tr>
                        </table>
                        <div>
                            <strong class="red-square">Darbo valandos</strong>
                            <strong class="green-square">Pertraukos</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>