@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/ng2-file-input/ng2-file-input.scss";
app-root {
    height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-baseline-vertical {
    display: flex;
    align-items: baseline;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-left {
    text-align: left;
}

simple-snack-bar {
    color: white;
}

.hidden {
    display: none !important;
}

.medium-margin-horizontal {
    margin-left: 20px;
    margin-right: 20px;
}

.small-padding-horizontal {
    padding: 0 10px;
}

.medium-padding-horizontal {
    padding: 0 20px;
}

.warning-text {
    color: red;
}

.success-text {
    color: limegreen;
}

.medium-margin-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

.no-list-style {
    list-style: none;
}

.gray-card-body {
    background: #f2f2f2;
}

.mat-raised-button, .mat-button {
    padding: 0 5px !important;
    min-width: 70px !important;
    font-size: 12px;
}

.mat-card {
    padding: 12px !important;
}