<div class="container">
    <div class="row">
        <div  class="col-12" *ngIf="modelName === 'employee'">
            <h4>Naujas darbuotojas</h4>
            <div [formGroup]="employeeFormControlGroup">
                <mat-form-field>
                    <input matInput [formControlName]="'firstname'" type="text" #firstname required
                           placeholder="Vardas">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControlName]="'lastname'" type="text" #lastname required placeholder="Pavardė">
                </mat-form-field>
            </div>
            <mat-form-field *ngIf="positionList">
                <mat-select placeholder="Pareigos" [value]="" [formControl]="positionControl">
                    <mat-option [value]=""></mat-option>
                    <mat-option *ngFor="let position of positionList" [value]="position.id">{{position.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <mat-form-field *ngIf="scheduleList">
                    <mat-select placeholder="Tvarkaraštis" [value]="" [formControl]="scheduleControl">
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let schedule of scheduleList" [value]="schedule.id">{{schedule.id}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
               <div class="medium-margin-vertical">
                   <mat-checkbox class="private-schedule-checkbox" [(ngModel)]="privateSchedule"
                                 (change)="scheduleControl.disabled ? scheduleControl.enable() : scheduleControl.disable()">
                       Privatus tvarkaraštis
                   </mat-checkbox>
               </div>
            </div>
        </div>
        <div  class="col-12" *ngIf="modelName === 'position'">
            <h4>Nauja pareiga</h4>
            <div [formGroup]="positionFormControlGroup">
                <mat-form-field>
                    <input [formControlName]="'job_title'" matInput type="text" #job_title required
                           placeholder="Pareigos pavadinimas">
                </mat-form-field>
                <mat-form-field>
                    <input [formControlName]="'pay'" matInput type="text" #pay required
                           placeholder="Uždarbis per valandą">
                </mat-form-field>
            </div>
        </div>
        <div class="col-12" *ngIf="modelName === 'schedule'">
            <h4>Naujas tvarkaraštis</h4>
            <div [formGroup]="scheduleFormControlGroup" class="flex">
                <mat-form-field>
                    <input [formControlName]="'schedule_name'" matInput type="text" #schedule_name required
                           placeholder="Pavadinimas">
                </mat-form-field>
            </div>
            <h5>Maks. darbo laikas</h5>
            <div class="flex-space-between">
                <mat-form-field>
                    <input matInput [formControl]="workHoursCapHours" type="number" required
                           placeholder="Val">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="workHoursCapMinutes" type="number" required
                           placeholder="Min">
                </mat-form-field>
            </div>
        </div>
        <button mat-button class="button-submit" (click)="addObject()">
            <span class="">
                Pridėti
            </span>
        </button>
    </div>
</div>
